<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalHouseClient.rhc.modules.sys.mapper.collect.CollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rentalHouseClient.rhc.modules.sys.entity.collect.Collect">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="issue_id" property="issueId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, user_id, issue_id, status, create_time, delete_time
    </sql>
    <sql id="Base_Column_List1">
       i.id, i.headline, i.content, i.type, i.create_user_id, i.create_user_name, i.create_time, i.update_time, i.delete_time, i.money, i.province, i.city, i.county, i.detail_site, i.status, i.auditor_user_id, i.auditor_user_name, i.auditor_time, i.auditor_status, i.auditor_remark
    </sql>
    <select id="selectCollectList" resultType="com.rentalHouseClient.rhc.modules.sys.entity.collect.Collect">
        select <include refid="Base_Column_List" /> from collect
        <trim prefix="where" prefixOverrides="and">
            <if test="collect.userId != null and collect.userId != ''">
                and user_id like concat(#{collect.userId}, "%")
            </if>
            <if test="collect.issueId != null and collect.issueId != ''">
                and issue_id like concat(#{collect.issueId}, "%")
            </if>
            <if test="collect.status != null">
                and status = #{collect.status}
            </if>
            <if test="collect.createTime != null">
                and create_time = #{collect.createTime}
            </if>
            <if test="collect.deleteTime != null and collect.deleteTime != ''">
                and delete_time like concat(#{collect.deleteTime}, "%")
            </if>
        </trim>
    </select>

    <update id="updateStatus" parameterType="Object">
		 update collect set
			status=0
		 where issue_id = #{issueId} and user_id=#{userId}
	 </update>
    <insert id="add" parameterType="com.rentalHouseClient.rhc.modules.sys.entity.collect.Collect">
        insert into collect (
        id,
        user_id,
        issue_id,
        status
        )
        values (
       #{collect.id},
       #{collect.userId},
        #{collect.issueId},
        #{collect.status}
        )
    </insert>
    <select id="selectById" resultType="com.rentalHouseClient.rhc.modules.sys.entity.collect.Collect">
        select <include refid="Base_Column_List" /> from collect
        <trim prefix="where" prefixOverrides="and">
        status=1
            <if test="collect.userId != null and collect.userId != ''">
                and user_id like concat(#{collect.userId}, "%")
            </if>
            <if test="collect.issueId != null and collect.issueId != ''">
                and issue_id like concat(#{collect.issueId}, "%")
            </if>
            <if test="collect.status != null">
                and status = #{collect.status}
            </if>
            <if test="collect.createTime != null">
                and create_time = #{collect.createTime}
            </if>
            <if test="collect.deleteTime != null and collect.deleteTime != ''">
                and delete_time like concat(#{collect.deleteTime}, "%")
            </if>
        </trim>
    </select>

</mapper>
