<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Webartinfo">
      <meta name="author" content="Webartinfo">
      <title>Manland - Bootstrap Light Real Estate HTML Template</title>
      <!-- Favicon Icon -->

   </head>
   <body>
      <!-- Navbar -->
      <header>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               <a class="navbar-brand text-success logo" href="index.html">
                  <img class="img-fluid" src="/static/img/agency-list/logo.png" style="width: 200px;height: auto">
               </a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                     <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                           主页
                        </a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{'/propertiesGrid?current=1'}">
                           出租广场
                        </a>
                     </li>

                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           我的账户
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                           <a class="dropdown-item" th:href="@{/userProfile}">用户资料</a>

                           <a class="dropdown-item" th:href="@{'/myProperties?current=1'}">我的财产</a>
                           <a class="dropdown-item" th:href="@{'/favoriteProperties?current=1'}">收藏列表</a>
                           <a class="dropdown-item" th:href="@{/addProperty}">新增出租</a>
                        </div>
                     </li>
                     <!-- <li class="nav-item dropdown">
                       <a class="nav-link" href="about.html">
                          关于我们
                       </a>

                    </li>-->
                  </ul>
                  <div class="my-2 my-lg-0">
                     <ul th:if="${issueIndexDTO.userName} eq null" class="list-inline main-nav-right">
                        <li class="list-inline-item">
                           <a class="btn btn-link btn-sm" th:href="@{/login}">登陆</a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn btn-success btn-sm" th:href="@{/register}">注册</a>
                        </li>
                     </ul>
                     <ul th:if="${issueIndexDTO.userName} ne null"  class="list-inline main-nav-right">
                        <li class="list-inline-item">
                           <a class="btn btn-link btn-sm" th:href="@{/userProfile}">欢迎您,[[${issueIndexDTO.userName}]]</a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn btn-success btn-sm" th:href="@{/logout}">退出</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <!-- End Navbar -->
      <!-- Inner Header -->
      <section class="bg-dark py-5 user-header">
         <div class="container">
            <div class="row align-items-center mt-2 mb-5 pb-4">
               <div class="col">
                  <!-- Heading -->
                  <h1 class="text-white mb-2">
                     添加出租
                  </h1>
                  <!-- Text -->
                  <h6 class="font-weight-normal text-white-50 mb-0">
                     Settings for <a class="text-reset" href="mailto:yoursite@gmail.com">yoursite@gmail.com</a>
                  </h6>
               </div>

            </div>
            <!-- / .row -->
         </div>
         <!-- / .container -->
      </section>
      <!-- End Inner Header -->
      <!-- Add Property -->
      <section class="section-padding pt-0 user-pages-main">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <!-- Collapse -->
                  <div class="card padding-card tab-view user-pages-sidebar">
                     <div class="card-body">
                        <!-- Heading -->
                        <h6 class="text-uppercase mt-0 mb-3">
                           账户
                        </h6>
                        <ul class="nav">
                           <li class="nav-item">
                              <a class="nav-link"  th:href="@{/userProfile}">用户资料</a>
                           </li>

                           <li class="nav-item">
                              <a class="nav-link " th:href="@{'/myProperties?current=1'}">我的财产</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" th:href="@{'/favoriteProperties?current=1'}">收藏列表</a>
                           </li>
                           <li class="nav-item">
                              <a  class="nav-link active text-success"  th:href="@{/addProperty}">新增出租</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9 col-md-9">
                  <form id="form1" name="form1">
                     <div class="card padding-card">
                        <div class="card-body">
                           <h5 class="card-title mb-4">新增出租</h5>
                           <div class="form-group">

                              <label>出租标题<span class="text-danger">*</span></label>
                              <input type="text" class="form-control" name="headline" placeholder="请输入出租标题">
                           </div>
                           <div class="form-group">
                              <label>出租内容<span class="text-danger">*</span></label>
                              <textarea class="form-control " name="content"  rows="4"></textarea>
                           </div>
                           <div class="row">
                              <div class="form-group col-md-4">
                                 <label>发布类型<span class="text-danger">*</span></label>
                                 <select name="type" class="form-control custom-select">
                                    <option>选择类型</option>
                                    <option value="1">出租</option>
                                    <option value="2">转租</option>
                                    <option value="0">找室友</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-4">
                                 <label>金额<span class="text-danger">*</span></label>
                                 <input type="text" name="money" class="form-control" placeholder="请输入金额">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card property-features-add padding-card">
                        <div class="card-body">
                           <h5 class="card-title mb-4">房子特点</h5>
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="custom-control custom-checkbox" th:each="labelList: ${issueIndexDTO.labelList}">
                                    <input type="checkbox" name="label" class="custom-control-input" th:id="${labelList.id}" th:value="${labelList.id}">
                                    <label class="custom-control-label" th:for="${labelList.id}">[[${labelList.labelContent}]]</label>
                                 </div>

                              </div>


                           </div>
                        </div>
                     </div>
                     <div class="card padding-card">
                        <div class="card-body" >
                        <h5 class="card-title mb-4">上传照片</h5>
                        <div class="col-md-4">
                           <div class="fuzone">
                              <div class="fu-text">
                                 <div id="onLoad">
                                    <span><i class="mdi mdi-image-area"></i> 点击上传图片</span>
                                 </div>

                              </div>
                              <input class="upload" type="file" id="filename" name="fileOne" accept="image/png, image/jpeg, image/jpg" multiple="multiple" onchange="checkImage(this)">
                           </div>
                        </div>
                        </div>
                        <div class="card-body" >


                           <div class="row" id="onLoadImage">






                           </div>
                        </div>
                     </div>
                     <div class="card padding-card">
                        <div class="card-body">
                           <h5 class="card-title mb-4">房子位置</h5>
                           <div class="row">
                              <div class="form-group col-md-4">
                                 <label>省<span class="text-danger">*</span></label>
                                 <select class="form-control select2" id ="provinceList" name="province"  onchange="cityForm(this.value)">

                                 </select>
                              </div>
                              <div class="form-group col-md-4">
                                 <label>市<span class="text-danger">*</span></label>
                                 <select class="form-control select2" id ="cityList" name="city" onchange="countiesForm(this.value)">

                                 </select>
                              </div>
                              <div class="form-group col-md-4">
                                 <label>区/县</label>
                                 <select  class="form-control select2"  id="countiesList" name="counties">

                                 </select>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group col-md-4">
                                 <label>详细地址 <span class="text-danger">*</span></label>
                                 <input type="text" class="form-control" name="detailSite" placeholder="请输入详细地址">
                              </div>

                           </div>

                        </div>
                     </div>
                     <button type="button" class="btn btn-success" onclick="checkSubmit()">添加</button>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <!-- End Add Property -->
      <!-- Join Team -->
      <!--   <section class="py-5 bg-primary">
          <div class="container">
             <div class="row align-items-center text-center text-md-left">
                <div class="col-md-8">
                   <h2 class="text-white my-2">您受否有问题？咨询下客服吧！  -》</h2>
                </div>
                <div class="col-md-4 text-center text-md-right">
                <button type="button"
                      class="btn btn-light my-2">联系客服</button>
                </div>
             </div>
          </div>
       </section>-->
      <section class="pt-4 pb-4">
         <div class="container">
            <div class="row align-items-center text-center text-md-left">
               <div class="col-md-6">
                  <p class="mt-0 mb-0">© 版权所有 2021 出租房工作室. 版权所有</p>
               </div>
               <div class="col-md-6 text-center text-md-right">
                  <p class="mt-0 mb-0">
                     Made with <i class="mdi mdi-heart text-danger"></i> by
                     <a class="text-dark font-weight-bold" target="_blank" href="http://www.bootstrapmb.com">Webartinfo</a>
                  </p>
               </div>
            </div>
         </div>
      </section>
      <script th:replace="common/base::context"></script>
      <script th:replace="common/base::iconpkcss"></script>
      <script th:replace="common/base::mainjs"></script>
      <script>
         var curFiles = [];//文件数组，用来保存上传的文件信息

         //检查上传的图片
         function checkImage(obj) {
            var files = obj.files;
            console.log(files.length);
            if(files){

               if(files.length <= 3) {//把一次上传图片数限制在3张
                  for (var i = 0; i < files.length; i++) {
                     var item = files.item(i);
                     var size = item.size;
                     curFiles.push(item);
                 /*    if (size / 1000 < 100) { //简易大小限制100K
                        curFiles.push(item);
                     }
                     else {
                        alert("第" + (i + 1) + "张图片过大");
                     }*/
                  }
               }
               else{
                  $("#filename").val("");
                  alert("一次最多上传3张图片");
               }
            }
            else {
               $("#filename").val("");
               alert("请选择上传文件");
            }

            //去除文件名相同的情况（上传列表中多次出现同一个文件）
            for (var i = 0; i < curFiles.length - 1; i++) {
               for (var j = 1; j < curFiles.length; j++) {
                  if (i != j) {
                     if (curFiles[i].name == curFiles[j].name) {
                        curFiles.splice(j, 1)
                     }
                  }
               }
            }

            //判断上传图片大小(100KB)
          /*  for(var i = 0; i < curFiles.length; i++){
               var size = curFiles[i].size;
               if(size/1000>100){
                  curFiles.splice(i, 1);
               }

            }*/

            console.log(curFiles);

            onLoadImage();
         }

         //预览图片
         function onLoadImage() {
            $("#onLoadImage").html("");
            for(var i = 0; i < curFiles.length; i++){
               (function(i){
                  var file = curFiles[i];
                  var reader = new FileReader();
                  reader.readAsDataURL(file);
                  reader.onload = function(){
                     $('#onLoadImage').append("                          <div class=\"col-md-4\">\n" +
                             "                                    <div class=\"fuzone\">\n" +
                             "                                       <div class=\"fu-text\"><img src='"+reader.result+"'/><span><span>"+file.name+"</span><button id='"+i+"' onclick='del(this.id)'>删除</button></span><br></div></div></div>");
                  }
               })(i)
            }
         }

         //删除功能
         function del(id) {
            var name = $("#"+id).prev().text();
            console.log(name);
            curFiles = curFiles.filter(function(file) {
               return file.name !== name;
            });
            console.log(curFiles);
            onLoadImage();
         }




         //上传功能的实现
        function checkSubmit() {
            if(curFiles.length>0){
               var formdata =  new FormData($('#form1')[0]);
               for (var i = 0; i<curFiles.length; i++) {
                  formdata.append('uploadFiles', curFiles[i]);
               }
               console.log(formdata);
               var checked = [];
               $("input[name='label']:checked").each(function () {
                  checked.push($(this).val());
               });
               console.log(checked)

               console.log(JSON.stringify({label:checked,city:form1.city.value,province:form1.province.value,counties:form1.counties.value,type:form1.type.value,content:form1.content.value,headline:form1.headline.value}))
               $.ajax({
                  url: 'addPropertyDetail',
                  type: 'post',
                  data: JSON.stringify({label:checked,city:form1.city.value,province:form1.province.value,counties:form1.counties.value,type:form1.type.value,content:form1.content.value,headline:form1.headline.value,money:form1.money.value}),
                  processData: false,
                  dataType:"json",
                  contentType: "application/json",
                  success: function(data) {
                     console.log(data)
                     if(data.code!=500){
                        $.ajax({
                           url: 'multipleImageUpload',
                           type: 'post',
                           data: formdata,
                           processData: false,
                           contentType: false,
                           success: function(data) {
                              alert(data.length+"个上传结果");
                              window.location.href='../myProperties?current=1';
                           },
                           error: function(err) {
                              alert("上传失败");
                           }
                        });
                     }else{
                        alert(data.msg);
                     }


                  },
                  error: function(err) {
                     alert("上传失败");
                  }
               });
            }
            else{
               alert("请选择文件后上传");
            }

         }



         function check(){

            if( document.getElementById('provinceList').value==null||document.getElementById('provinceList').value==''){
               alert("省不能空")

               return false;
            }else{
               if(document.getElementById('cityList').value==null||document.getElementById('cityList').value==''){
                  alert("市区不能空")

                  return false;
               }
               else{
                  return true;
               }
            }

         }

         function cityForm(data){
            console.log(data);
            var city=data;
            kvfKit.aGet(BASE_WEB + 'sys/city?city='+city, function (r) {
               var data=r.data;
               $("#cityList").find("option").remove();
               $("#countiesList").find("option").remove();
               var opt;
               opt=new Option("","");
               document.getElementById('cityList').options.add(opt);
               for (var i = 0; i <= data.length; i++) {
                  opt = new Option(data[i], data[i]);
                  document.getElementById('cityList').options.add(opt);
               }
            });
         }

         function countiesForm(data){
            console.log(data);
            var city= document.getElementById('provinceList').value;
            var counties=data;
            kvfKit.aGet(BASE_WEB + 'sys/counties?city='+city+"&&counties="+counties, function (r) {
               var data=r.data;
               if(JSON.stringify(data) == "[]"){
                  $("#counties").css("display", "none");
               }else{
                  $("#counties").css("display", "inline");
               }
               $("#countiesList").find("option").remove();
               for (var i = 0; i <= data.length; i++) {
                  var opt = new Option(data[i], data[i]);
                  document.getElementById('countiesList').options.add(opt);
               }
            });
         }

         //JavaScript代码区域
         layui.use(['element', 'layer', 'laytpl','form'], function(){
            var element = layui.element, laytpl = layui.laytpl, layer = layui.layer,form = layui.form;


            kvfKit.aGet(api.province, function (r) {

               laytpl($('#provinceList').html()).render(r.data, function (html) {
                  console.log(r.data)
                  var data=r.data;
                  var option = '';
                  option +="<option value=''></option>";
                  for(var i=0;i<data.length;i++){
                     //循环获取返回值，并组装成html代码
                     option +="<option value='"+data[i]+"'>"+data[i]+"</option>";
                  }
                  $("#provinceList").html("");
                  $("#provinceList").append(option);
               });
            });

         });

      </script>
   </body>
</html>