<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalHouseAdmin.rha.modules.sys.mapper.autonym.AutonymMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rentalHouseAdmin.rha.modules.sys.entity.autonym.Autonym">
        <id column="id" property="id" />
        <result column="identity_card" property="identityCard" />
        <result column="name" property="name" />
        <result column="client_user_id" property="clientUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, identity_card, name, client_user_id
    </sql>

    <select id="selectAutonymList" resultType="com.rentalHouseAdmin.rha.modules.sys.entity.autonym.Autonym">
        select a.id, a.identity_card, a.name, a.client_user_id,cu.user_name
        from autonym a
        left join client_user cu on cu.id=a.client_user_id

        <trim prefix="where" prefixOverrides="and">
            <if test="autonym.identityCard != null and autonym.identityCard != ''">
                and a.identity_card like concat(#{autonym.identityCard}, "%")
            </if>
            <if test="autonym.name != null and autonym.name != ''">
                and a.name like concat(#{autonym.name}, "%")
            </if>
            <if test="autonym.clientUserId != null and autonym.clientUserId != ''">
                and a.client_user_id like concat(#{autonym.clientUserId}, "%")
            </if>
        </trim>
    </select>

</mapper>
