<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">关键字</label>
        <div class="layui-input-inline">
            <input type="text" name="keyword" th:value="${editInfo.keyword}" placeholder="请输入关键字" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提醒文字</label>
        <div class="layui-input-inline">
            <input type="text" name="remindWords" th:value="${editInfo.remindWords}" placeholder="请输入提醒文字" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-inline">
            <input type="text" name="updateUser" th:value="${editInfo.updateUser}" placeholder="请输入修改人" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改人姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="updateUserName" th:value="${editInfo.updateUserName}" placeholder="请输入修改人姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-inline">
            <input type="text" name="updateTime" th:value="${editInfo.updateTime}" placeholder="请输入修改时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">删除标识 0正常 -1删除</label>
        <div class="layui-input-inline">
            <input type="text" name="status" th:value="${editInfo.status}" placeholder="请输入删除标识 0正常 -1删除" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">删除时间</label>
        <div class="layui-input-inline">
            <input type="text" name="deleteTime" th:value="${editInfo.deleteTime}" placeholder="请输入删除时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新增时间</label>
        <div class="layui-input-inline">
            <input type="text" name="createTime" id="createTime" th:value="${#strings.replace(editInfo.createTime,'T',' ')}" placeholder="请输入新增时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新增人姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="createName" th:value="${editInfo.createName}" placeholder="请输入新增人姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新增人</label>
        <div class="layui-input-inline">
            <input type="text" name="createUser" th:value="${editInfo.createUser}" placeholder="请输入新增人" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate;


        laydate.render({
            elem: '#createTime' // 指定元素
            ,type: 'datetime'
        });

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'warm/prompt/edit' : 'warm/prompt/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>