<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalHouseClient.rhc.modules.sys.mapper.issue.IssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rentalHouseClient.rhc.modules.sys.entity.issue.Issue">
        <id column="id" property="id" />
        <result column="headline" property="headline" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="money" property="money" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="detail_site" property="detailSite" />
        <result column="status" property="status" />
        <result column="auditor_user_id" property="auditorUserId" />
        <result column="auditor_user_name" property="auditorUserName" />
        <result column="auditor_time" property="auditorTime" />
        <result column="auditor_status" property="auditorStatus" />
        <result column="auditor_remark" property="auditorRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, headline, content, type, create_user_id, create_user_name, create_time, update_time, delete_time, money, province, city, county, detail_site, status, auditor_user_id, auditor_user_name, auditor_time, auditor_status, auditor_remark
    </sql>

    <sql id="Base_Column_List1">
       i.id, i.headline, i.content, i.type, i.create_user_id, i.create_user_name, i.create_time, i.update_time, i.delete_time, i.money, i.province, i.city, i.county, i.detail_site, i.status, i.auditor_user_id, i.auditor_user_name, i.auditor_time, i.auditor_status, i.auditor_remark
    </sql>

    <select id="selectIssueList" resultType="com.rentalHouseClient.rhc.modules.sys.entity.issue.Issue">
        select <include refid="Base_Column_List" /> from issue
        <trim prefix="where" prefixOverrides="and">
            <if test="issue.headline != null and issue.headline != ''">
                and headline like concat(#{issue.headline}, "%")
            </if>
            <if test="issue.content != null and issue.content != ''">
                and content like concat(#{issue.content}, "%")
            </if>
            <if test="issue.type != null">
                and type = #{issue.type}
            </if>
            <if test="issue.createUserId != null and issue.createUserId != ''">
                and create_user_id like concat(#{issue.createUserId}, "%")
            </if>
            <if test="issue.createUserName != null and issue.createUserName != ''">
                and create_user_name like concat(#{issue.createUserName}, "%")
            </if>
            <if test="issue.createTime != null">
                and create_time = #{issue.createTime}
            </if>
            <if test="issue.updateTime != null">
                and update_time = #{issue.updateTime}
            </if>
            <if test="issue.deleteTime != null">
                and delete_time = #{issue.deleteTime}
            </if>
            <if test="issue.money != null">
                and money = #{issue.money}
            </if>
            <if test="issue.province != null and issue.province != ''">
                and province like concat(#{issue.province}, "%")
            </if>
            <if test="issue.city != null and issue.city != ''">
                and city like concat(#{issue.city}, "%")
            </if>
            <if test="issue.county != null and issue.county != ''">
                and county like concat(#{issue.county}, "%")
            </if>
            <if test="issue.detailSite != null and issue.detailSite != ''">
                and detail_site like concat(#{issue.detailSite}, "%")
            </if>
            <if test="issue.status != null and issue.status != ''">
                and status like concat(#{issue.status}, "%")
            </if>
            <if test="issue.auditorUserId != null and issue.auditorUserId != ''">
                and auditor_user_id like concat(#{issue.auditorUserId}, "%")
            </if>
            <if test="issue.auditorUserName != null and issue.auditorUserName != ''">
                and auditor_user_name like concat(#{issue.auditorUserName}, "%")
            </if>
            <if test="issue.auditorTime != null">
                and auditor_time = #{issue.auditorTime}
            </if>
            <if test="issue.auditorStatus != null">
                and auditor_status = #{issue.auditorStatus}
            </if>
            <if test="issue.auditorRemark != null and issue.auditorRemark != ''">
                and auditor_remark like concat(#{issue.auditorRemark}, "%")
            </if>
        </trim>
    </select>
    <select id="selectIssue" resultType="com.rentalHouseClient.rhc.modules.sys.entity.issue.Issue">
        select <include refid="Base_Column_List" /> from issue
         where   status=1
        <if test="issue.city != null and issue.city != ''">
            and city like concat(#{issue.city}, "%")
        </if>
        <if test="issue.province != null and issue.province != ''">
            and province like concat(#{issue.province}, "%")
        </if>
        <if test="issue.county != null and issue.county != ''">
            and county like concat(#{issue.county}, "%")
        </if>

    </select>

    <select id="propertiesGridScreen"  resultType="com.rentalHouseClient.rhc.modules.sys.entity.issue.Issue">
        select <include refid="Base_Column_List1" />
        from issue i
        left join label_item li on li.use_id=i.id
        left join label l on l.id=li.label_id
        where   i.status=1
        <if test="dto.city != null and dto.city != ''">
            and i.city like concat(#{dto.city}, "%")
        </if>
        <if test="dto.province != null and dto.province != ''">
            and i.province like concat(#{dto.province}, "%")
        </if>
        <if test="dto.county != null and dto.county != ''">
            and i.county like concat(#{dto.county}, "%")
        </if>
        <if test="dto.houseType != null and dto.houseType != ''">
            and l.label_content like concat(#{dto.houseType}, "%")
        </if>

        <if test=" dto.moneyMin != ''">
            and i.money <![CDATA[>=]]> #{dto.moneyMin}
        </if>
        <if test="  dto.moneyMax != ''">
            and i.money <![CDATA[<=]]> #{dto.moneyMax}
        </if>


    </select>

</mapper>
