<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalHouseClient.rhc.modules.sys.mapper.message.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rentalHouseClient.rhc.modules.sys.entity.message.Message">
        <id column="id" property="id" />
        <result column="initiative" property="initiative" />
        <result column="opposite" property="opposite" />
        <result column="chat_content" property="chatContent" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, initiative, opposite, chat_content, status, create_time, delete_time
    </sql>

    <select id="selectMessageList" resultType="com.rentalHouseClient.rhc.modules.sys.entity.message.Message">
        select <include refid="Base_Column_List" /> from message
        <trim prefix="where" prefixOverrides="and">
            <if test="message.initiative != null and message.initiative != ''">
                and initiative like concat(#{message.initiative}, "%")
            </if>
            <if test="message.opposite != null and message.opposite != ''">
                and opposite like concat(#{message.opposite}, "%")
            </if>
            <if test="message.chatContent != null and message.chatContent != ''">
                and chat_content like concat(#{message.chatContent}, "%")
            </if>
            <if test="message.status != null">
                and status = #{message.status}
            </if>
            <if test="message.createTime != null">
                and create_time = #{message.createTime}
            </if>
            <if test="message.deleteTime != null and message.deleteTime != ''">
                and delete_time like concat(#{message.deleteTime}, "%")
            </if>
        </trim>
    </select>

</mapper>
